:root{
    --text-color1: #fff4e0;
    --text-color2: #040505;
    --main-color: #287a91;
    --secondary-color: #f99f0a;
    --alt-color1: #caeeff;
    --alt-color2: #2d4c54;
    --background-color:  #121212;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Lexend", sans-serif;
}
.main{
    width: 100%;
}
body{
    background-color: var(--background-color);
}
section{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-image: url(https://i.postimg.cc/7h3G8Dtt/background.jpg);
}
header{
    position: fixed;
    width: 100%;
    padding: 4px 40px;
    display: flex;
    color: var(--secondary-color);
    z-index: 100;
}
.logo{
    width: auto;
    height: 90px;
}
#btnMob{
    display: none;
}
nav{
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap:10px;
    transition: 0.5s;
}
nav ul{
    display: flex;
    align-items: center;
    gap:50px;
}
nav li a{
    margin: 2rem 0;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color1);
    transition: 0.1s ease;
}
nav li a:hover{
    color: var(--alt-color1);
    border-bottom: 7px solid var(--main-color);
    border-radius: 5px;
}
.secao{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}
.secao p{
    padding-left: 10rem;
    padding-right: 10rem;
    color: var(--text-color1);
    text-align: justify;
    font-size: 20px;
    margin-bottom: 50px;
}
.secao h3{
    padding-left: 10rem;
    padding-right: 10rem;
    background-image: linear-gradient(120deg, var(--main-color), var(--alt-color1), var(--alt-color2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    text-align: center;
    font-size: 160px;
    margin-bottom: 30px;
}
.secao img{
    width: 400px;
    height: 300px;
    border-radius: 40px;
    border: 3px solid var(--alt-color1);
    filter: grayscale(40%);
    padding: 0.2rem;
}
.secao img:hover{
    cursor: pointer;
}
.titulo{
    padding-left: 10rem;
    padding-right: 10rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--secondary-color);
    font-size: 80px;
    margin-bottom: 80px;
}
#email{
    width: 550px;
    height: 40px;
    padding: 1rem;
    border: 2px solid var(--secondary-color);
    border-radius: 2px;
    font-size: 1rem;
    text-align: center;
}
.mensagem.hidden{
    display: none;
}
footer{
    width: 100%;
    height: 10vh;
    font-size: 17px;
    text-decoration: none;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color2);
    background-color: var(--alt-color2);
}

@media (max-width: 500px){
    section{
        min-height: 130vh;
    }
    #btnMob{
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
    }
    .nav-menu{
        display: block;
        position: absolute;
        width: 100%;
        height: 70px;
        top: 8vh;
        left: 0;
        right: 0;
        transition: 0.5s ease-in-out;
        visibility: hidden;
        overflow-y: hidden;
    }
    .nav-menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--alt-color2);
    }
    nav.active .nav-menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #hamburg{
        color: var(--text-color1);
        display: block;
        width: 20px;
        border-top:2px solid;
    }
    #hamburg::before,
    #hamburg::after{
        content:'';
        display: block;
        background: currentColor;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        position: relative;
    }
    header{
        background-color: var(--alt-color2);
    }
    .logo{
        width: auto;
        height: 70px;
    }
    .secao p{
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 16px;
    }
    .secao h3{
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 60px;
    }
    .secao img{
        width: 350px;
        height: 263px;
    }
    .titulo{
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 45px;
        margin-bottom: 30px;
    }
    #email{
        width: 350px;
    }
    #contato p{
        text-align: center;
    }
    footer{
        width: 100%;
        height: 10vh;
        font-size: 17px;
        text-decoration: none;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text-color2);
        background-color: var(--alt-color2);
    }
}